<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Click the button to make an HTTP request to the server</p>
      <button class="btn btn-primary" (click)="exampleApi()">Press Me!</button>
    </div>
  </div>
  <div class="row" *ngIf="apiReturnValue != null">
    <table class="table">
      <tr>
        <th>Message</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>
          {{apiReturnValue.message}}
        </td>
        <td>
          {{apiReturnValue.date}}
        </td>
      </tr>
    </table>
  </div>
</div>
